absl-py==2.1.0
accelerate==1.2.1
aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.2
annotated-types==0.7.0
anyio==3.6.2
appdirs==1.4.4
asgiref==3.5.2
asttokens==3.0.0
astunparse==1.6.3
async-timeout==4.0.2
asyncer==0.0.2
attrs==23.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.45.0
branca==0.7.1
bs4==0.0.2
cairocffi==1.7.1
CairoSVG==2.7.1
catboost==0.24.4
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.4
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.0.6
cryptography==41.0.1
cssselect2==0.7.0
cycler==0.10.0
datasets==3.2.0
debugpy==1.8.10
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
distro==1.9.0
Django==4.0.5
docker-pycreds==0.4.0
docx==0.2.4
EasyProcess==1.1
entrypoint2==1.1
et-xmlfile==1.1.0
eval_type_backport==0.2.0
exceptiongroup==1.2.0
executing==2.1.0
facenet-pytorch==2.5.3
fastapi==0.87.0
ffmpeg-python==0.2.0
filelock==3.13.4
filetype==1.2.0
Flask==2.1.2
flatbuffers==24.3.25
folium==0.16.0
fonttools==4.38.0
fpdf2==2.7.8
frozenlist==1.3.3
fsspec==2024.3.1
future==0.18.2
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
googlemaps==4.10.0
graphviz==0.16
grpcio==1.65.2
h11==0.14.0
h5py==3.11.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.5
humanfriendly==10.0
idna==3.4
ImageHash==4.3.1
imageio==2.26.0
imageio-ffmpeg==0.4.9
importlib-metadata==4.11.3
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.18.1
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.2
jiter==0.6.1
joblib==1.2.0
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.3.2
keyboard==0.13.5
kiwisolver==1.3.1
ldap3==2.9.1
Levenshtein==0.25.1
libclang==18.1.1
llvmlite==0.39.1
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl==2021.4.0
ml-dtypes==0.4.0
mne==1.5.0
more-itertools==10.5.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
mss==7.0.1
mtcnn==0.1.1
multidict==6.0.4
multiprocess==0.70.16
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.0
numba==0.56.4
numpy==1.23.5
onnxruntime==1.13.1
openai==1.52.2
openai-whisper @ git+https://github.com/openai/whisper.git@25639fc17ddc013d56c594bfbf7644f2185fad84
opencv-python==4.5.5.62
opencv-python-headless==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
outcome==1.3.0.post0
packaging==21.3
pandas==1.2.2
parso==0.8.4
pdf2image==1.16.3
pefile==2022.5.30
peft==0.14.0
Pillow==9.3.0
platformdirs==4.2.2
plotly==4.14.3
pooch==1.6.0
proglog==0.1.10
prompt_toolkit==3.0.48
protobuf==4.22.1
psutil==6.1.0
pure_eval==0.2.3
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
PyAutoGUI==0.9.53
pycairo==1.27.0
pycparser==2.21
pydantic==2.10.3
pydantic_core==2.27.1
pydub==0.25.1
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.4
PyMatting==1.1.8
PyMsgBox==1.0.9
PyMuPDF==1.23.5
PyMuPDFb==1.23.5
pynput==1.7.6
pyparsing==2.4.7
PyPDF2==3.0.1
pyperclip==1.8.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyreadline3==3.4.1
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.28
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-Levenshtein==0.25.1
python-mnist==0.7
python-multipart==0.0.6
python-pptx==0.6.23
python-telegram-bot==21.6
pytweening==1.0.4
pytz==2021.1
PyWavelets==1.4.1
pywin32==308
pywin32-ctypes==0.2.0
PyYAML==6.0.1
pyzmq==26.2.0
rapidfuzz==3.8.1
regex==2024.7.24
rembg==2.0.30
reportlab==4.0.6
requests==2.32.3
requests-pkcs12==1.16
retrying==1.3.3
rich==13.7.1
safetensors==0.4.3
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.9.3
selenium==4.18.1
sentencepiece==0.2.0
sentry-sdk==2.19.2
setproctitle==1.3.4
simple-term-menu==1.5.2
six==1.15.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.12.0
sqlparse==0.4.2
stack-data==0.6.3
starlette==0.21.0
svglib==1.5.1
sympy==1.13.1
tbb==2021.12.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.1.0
tifffile==2023.2.28
tiktoken==0.8.0
tinycss2==1.4.0
tokenizers==0.21.0
toposort==1.10
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
tornado==6.4.2
tqdm==4.66.4
traitlets==5.14.3
transformers==4.47.0
trio==0.25.0
trio-websocket==0.11.1
trl==0.12.2
typing_extensions==4.12.2
tzdata==2022.1
urllib3==1.26.13
uvicorn==0.20.0
vaderSentiment==3.3.2
virtualenv==20.26.3
wandb==0.19.0
watchdog==2.1.9
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==2.1.2
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.0
xlwt==1.3.0
xmltodict==0.13.0
xxhash==3.4.1
xyzservices==2023.10.1
yarl==1.8.2
zipp==3.8.0
